<header class="app-header">
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </nav>
    <div>
        <img src="Images/walk.png" alt="cycleIMG">
        <img src="Images/cycle.png" alt="cycleIMG">
        <img src="Images/lift.png" alt="cycleIMG">
        <img src="Images/run.png" alt="cycleIMG">
        <img src="Images/swim.png" alt="cycleIMG">
    </div>
    <nav>
        <a routerLink="/activities" routerLinkActive="active">Activities</a>
      </nav>
  </header>
  